* {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.grid {
  width: 100%;
  max-width: 1600px;
  height: 800px;
  overflow: hidden;
  color: aliceblue;
  font-size: 100px;
  font-family: "Doto", sans-serif;
  text-align: center;
  position: relative;
  background: black;
  background-size: 100%;
  background-repeat: repeat;
  background-position: center;
  background-image: url('../img/nightSky.jpg');
}

.kirby {
  width: 150px;
  height: 150px;
  position: absolute;
  background-image: url(../img/KirbyAngelFly.gif);
}

.star {
  position: absolute;
  width: 120px;
  height: 40px;
  background-size: 100%;
  background-image: url(../img/star.png);
}